@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
}

.signContainer{background:url('assets/bg2.jpg') no-repeat;
  background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100%
	}


  .form-boxshadow{
  
    -webkit-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
   -moz-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
   box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.75);
   }

   .font-flower{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
   }
  
   .opacity-5{
     opacity: 0.5;
   }

.buttonBorder {
  border: none;
}

.btn-prim-act-custom {
background-color: #2FA4E7;
color: white;
}
.btn-dang-act-custom {
  background-color: #C71C22;
  color: white;
  }

.btn-social {
  width: 49%;

}

.hoverSocial :hover{
  opacity: 0.9
}

.btn-social img {
  width: 30px;
  margin-right: 15px;
  
}
.facebook-btn{
  color: #fff;
  background-color: #3b5998;
}


.minHeight{
  min-height: 200px;
}





