@import url('https://fonts.googleapis.com/css?family=Italianno');
.navbarCustom {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

/* Change background color of buttons on hover */

.tab:hover {
    background-color: lightgray;
    border-radius: 10px;
}

/* Create an active/current "tab button" class */

.tab:active {
    background-color: darkgray;
}

.customCircle {
    margin-left: 5px;
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
    min-width: 40px;
    text-align: center;
}

.customBrand {
    position: relative;
    top: 5px;
}